# Ignore specific file
fashion.txt
health-care.txt
sport.txt
TFIDF.py
# Ignore all files in a directory
tfidf/

# Ignore files with a specific extension
*.log

# Ignore files with a specific name pattern
backup_*